# Rust
/target
Cargo.lock
**/*.rs.bk

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Build artifacts
*.o
*.so
*.dylib

# Debug files
*.dSYM/

# App data / downloads
/data/
tmp_*.alog
tmp_*.UPF
*.log
*.err
